<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
  </head>

  <body class="bg-slate-900 text-white">
    <header class="border-b border-slate-700 bg-slate-950">
      <nav class="container mx-auto flex h-14 items-center justify-between">
        <h2><a href="/" class="text-xl">Website</a></h2>
        <ul class="flex gap-4">
          <li>
            <a href="/" class="hover:text-orange-400">Home</a>
          </li>
          <li>
            <a
              href="./components"
              class="rounded-md px-4 py-1.5 text-orange-400 shadow-sm shadow-orange-400 transition hover:shadow-md hover:shadow-orange-400"
              >Components</a
            >
          </li>
          <li>
            <a href="/" class="hover:text-orange-400">Sections</a>
          </li>
          <li>
            <a href="/" class="hover:text-orange-400">Layouts</a>
          </li>
          <li>
            <a href="/" class="hover:text-orange-400">Themes</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="flex">
      <aside class="h-dvh min-w-48 overflow-y-scroll bg-slate-950">
        <ul>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./according.html" class="block px-3 py-2">According</a>
          </li>
          <li class="text-orange-400 shadow-sm shadow-orange-400 transition">
            <a href="./aspect ratio.html" class="block px-4 py-2">Aspect ratio</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./avatar.html" class="block px-3 py-2">Avatar</a>
          </li>
         
            <li class="shadow-sm shadow-white hover:text-orange-400">
              <a href="./alert.html" class="block px-3 py-2">Alert</a>
            </li>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./buttons.html" class="block px-3 py-2">Button</a>
          </li>
          
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./badges.html" class="block px-3 py-2">Badges</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./breadcrumb.html" class="block px-3 py-2">Breadcrumb</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./cards.html" class="block px-3 py-2">Cards</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./context menu.html" class="block px-3 py-2">Context menu</a>
          </li>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href=".combobox.html" class="block px-3 py-2">Combobox</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./calendar.html" class="block px-3 py-2">Calendar</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./checkbox.html" class="block px-3 py-2">Checkbox</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./carousel.html" class="block px-3 py-2">Carousel</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./collapsible.html" class="block px-3 py-2">Collapsible</a>
          </li>

          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./dropdown menu.html" class="block px-3 py-2">Dropdown menu</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./data table.html" class="block px-3 py-2">Data table</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./data picker.html" class="block px-3 py-2">Data picker</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./dialog.html" class="block px-3 py-2">Dialog</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./form.html" class="block px-3 py-2">Form</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./haver card.html" class="block px-3 py-2">Haver card</a>
          </li>
  <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./input.html" class="block px-3 py-2">Input</a></li>

            <li class="shadow-sm shadow-white hover:text-orange-400">
              <a href="./label.html" class="block px-3 py-2">Label</a>
            </li>
              <li class="shadow-sm shadow-white hover:text-orange-400">
                <a href="./Menubar.html" class="block px-3 py-2">Menubar</a>
                </li>
         <li class="shadow-sm shadow-white hover:text-orange-400">
          <a href="./navigation menu.html" class="block px-3 py-2">Navigation Menu</a>
        </li>
        <li class="shadow-sm shadow-white hover:text-orange-400">
          <a href="./pagination.html" class="block px-3 py-2">Pagination</a>
        </li>
        <li class="shadow-sm shadow-white hover:text-orange-400">
          <a href="./popover.html" class="block px-3 py-2">Popover</a>
        </li>
        <li class="shadow-sm shadow-white hover:text-orange-400">
          <a href="./progress.html" class="block px-3 py-2">Progress</a>
        </li>
        <li class="shadow-sm shadow-white hover:text-orange-400">
          <a href="./radio group.html" class="block px-3 py-2">Radio Group</a>
        </li>
        <li class="shadow-sm shadow-white hover:text-orange-400">
          <a href="./resizable.html" class="block px-3 py-2">Resizable</a>
        </li>
        <li class="shadow-sm shadow-white hover:text-orange-400">
          <a href="./scroll area.html" class="block px-3 py-2">Scroll Area</a>
        </li>
        <li class="shadow-sm shadow-white hover:text-orange-400">
          <a href="./select.html" class="block px-3 py-2">Select</a>
        </li>
        <li class="shadow-sm shadow-white hover:text-orange-400">
          <a href="./seprator.html" class="block px-3 py-2">Seperator</a>
        </li>
        <li class="shadow-sm shadow-white hover:text-orange-400">
          <a href="./sheet.html" class="block px-3 py-2">Sheet</a>
        </li>
        <li class="shadow-sm shadow-white hover:text-orange-400">
          <a href="./Skelton.html" class="block px-3 py-2">Skelton</a>
        </li>
        <li class="shadow-sm shadow-white hover:text-orange-400">
          <a href="./Slider.html" class="block px-3 py-2">Slider</a>
        </li>
        <li class="shadow-sm shadow-white hover:text-orange-400">
          <a href="./sonner.html" class="block px-3 py-2">Sonner</a>
        </li>
        <li class="shadow-sm shadow-white hover:text-orange-400">
          <a href="./Switch.html" class="block px-3 py-2">Switch</a>
        </li>
        <li class="shadow-sm shadow-white hover:text-orange-400">
          <a href="./tabs.html" class="block px-3 py-2">Tabs</a>
        </li>
        
            
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./table.html" class="block px-3 py-2">Table</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./textarea.html" class="block px-3 py-2">Textarea</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./toast.html" class="block px-3 py-2">Toast</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./toggle.html" class="block px-3 py-2">Toggle</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./toggle group.html" class="block px-3 py-2">Toggle Group</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./tooltip.html" class="block px-3 py-2">Tooltip</a>
          </li>
          
          

        </ul>
      </aside>
      <main class="h-dvh overflow-y-scroll">
        <section></section>
      </main>
    </div>
    <footer></footer>
  </body>
</html>
