<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body class="bg-slate-900 text-white">
    <header class="border-b border-slate-700 bg-slate-950">
        <nav class="container mx-auto flex h-14 items-center justify-between">
        </nav>
    </header>
    <div class="flex">
        <aside class="h-dvh min-w-48 overflow-y-scroll bg-slate-950">
</body>
</html>